.gradle/
out/
**/*.idea/
build/
classes/
**/*.log
*-local.properties
*-local.yml
**~
.DS_Store
**/.DS_Store
.local
*.ipr
*.iml
*.iws
**/com/daimler/bbd/client
*rebel.xml
.scannerwork
.java-version
.githooks/
